<title>Index</title>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" language="javascript">
    $(function () {
        $('#grid').datagrid({
            title: '系统日志',
            iconCls: 'icon-save',
            nowrap: false,
            striped: true,
            url: '/LogInfo/LoadAllByPage/',
            sortName: 'ID',
            sortOrder: 'desc',
            remoteSort: true,
            fitColumns: true,
            fit: true,
            idField: 'ID',
            //queryParams: { ID: @ViewData["entity"] },
            frozenColumns: [[
	                { field: 'ID', checkbox: true }
				]],

            columns: [[

                    { field: 'Account', title: '用户名', width: 80, align: 'center' },
                    { field: 'IpInfo', title: 'IP', width: 80, align: 'center' },
                    { field: 'IpAddress', title: 'IP所在城市', width: 80, align: 'center' },
                    { field: 'CreateTime', title: '创建日期', width: 100, align: 'center',
                        formatter: function (value, rec) {
                            return eval("new " + value.substr(1, value.length - 2)).toLocaleDateString();
                        }
                    }


                ]],
            pagination: true,
            rownumbers: true
        
        });
    });
</script>


<body class="easyui-layout">
    <div region="center" style="padding: 5px;" border="false">
        <table id="grid">
        </table>
    </div>
</body>



